{% extends "layouts/home.html" %}

{% block content %}
    <!-- Jumbotron Start -->
    <section class="bg-primary py-10 my-10">
        <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 md:mb-10">
            <div class="flex flex-col space-y-4 px-4 mx-auto align-middle md:flex-row md:justify-around md:space-y-0 md:space-x-4">
                <img class="h-auto w-60 md:w-80 lg:max-w-md self-center lg:-mr-32" src="../static/assets/chat.png" alt="chat illustration">
                <div class="self-center w-full md:w-fit text-center md:text-start flex flex-col p-6">
                    <h1 class="mb-3 text-5xl font-bold font-kanit tracking-tight md:text-left text-third md:text-6xl lg:text-7xl">
                        Hear Me Pal			
                    </h1>
                    <p class="mb-5 text-xl font-hind font-semibold text-text lg:text-2xl ">
                        You talk, We listen
                    </p>
                    <a href="/chat" class="inline-flex justify-center items-center mx-auto w-fit py-3 px-8 sm:px-10 md:px-7 xl:px-8 md:mx-0 text-base md:text-lg uppercase font-montserrat font-bold text-center text-text hover:text-white rounded-md bg-third duration-300 hover:opacity-90 focus:ring-4 focus:ring-third/50">
                        Start now
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- Jumbotron End -->

    <!-- Wave Up Start -->
    <div class="w-full mx-auto">
        <svg class="w-full bg-transparent text-fourth" viewBox="0 0 1440 150" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 125.292L48 100.584C96 75.3014 192 25.8855 288 17.841C384 9.22195 480 42.549 576 38.5268C672 33.9299 768 -7.44157 864 1.17749C960 9.22195 1056 67.257 1152 79.8983C1248 91.965 1344 59.2125 1392 42.549L1440 25.8855V150H1392C1344 150 1248 150 1152 150C1056 150 960 150 864 150C768 150 672 150 576 150C480 150 384 150 288 150C192 150 96 150 48 150H0L0 125.292Z"/>
        </svg>
    </div>
    <!-- Wave Up End -->

    <!-- Overview Start -->
    <section class="w-full py-10 px-4 -mt-2 bg-fourth">
        <div class="py-10 px-4 mx-auto max-w-screen-xl">
            <div class="w-full mx-auto px-4 md:px-6 space-y-4 space-y-reverse md:space-y-0 md:space-x-4 xl:space-x-10 flex flex-col-reverse md:flex-row justify-between items-center">
                <div class="w-full md:w-3/5 p-4 -mt-10 md:mt-0 flex flex-col font-semibold font-kanit text-left text-gray-700 space-y-2 xl:space-y-4">
                    <h2 class="pb-1 text-2xl md:text-4xl xl:text-5xl text-primary text-center md:text-left">Overview Project</h2>
                    <p class="w-full md:w-[90%] text-sm md:text-base xl:text-lg font-normal font-hind">
                        Mental health is a critical aspect of overall well-being, yet many people hesitate to seek help due to various barriers such as stigma, cost, or lack of access to professional care. HearMePal aims to bridge this gap by offering a supportive, non-judgmental space where users can express their feelings and receive guidance.
                    </p>
                </div>
                <div class="w-4/5 md:w-2/5 mx-auto md:mx-0 p-4">
                    <img class="h-auto max-w-full mx-auto" src="../static/assets/texting.png" alt="texting illustration">
                </div>
            </div>
        </div> 
    </section>  
    <!-- Overview End -->
    
    <!-- Wave Up Start -->
    <div class="w-full mx-auto -mt-2">
        <svg class="w-full bg-transparent text-fourth" viewBox="0 0 1440 200" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M1440 176.001L1405.2 183.335C1371.6 190.668 1303.2 205.335 1234.8 198.001C1165.2 190.668 1096.8 161.334 1028.4 146.668C960 132.001 891.6 132.001 823.2 135.668C754.8 139.334 685.2 146.668 616.8 161.334C548.4 176.001 480 198.001 411.6 194.335C343.2 190.668 274.8 161.334 205.2 154.001C136.8 146.668 68.3999 161.334 34.7999 168.668L0 176.001V0H34.7999C68.3999 0 136.8 0 205.2 0C274.8 0 343.2 0 411.6 0C480 0 548.4 0 616.8 0C685.2 0 754.8 0 823.2 0C891.6 0 960 0 1028.4 0C1096.8 0 1165.2 0 1234.8 0C1303.2 0 1371.6 0 1405.2 0H1440V176.001Z"/>
        </svg>
    </div>
    <!-- Wave Up End -->


{% endblock %}   